.button {
  position: relative;
  display: inline-flex;
  column-gap: 1px;
  align-items: baseline;
  padding: 0;
  margin-top: 32px;
  font-size: var(--font-sm);
  font-weight: 500px;
  color: var(--color-foreground-subtle);
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  background: var(--color-neutral-50);
  border: none;
  transition: 0.2s;

  &:hover {
    color: var(--color-foreground);

    & div {
      & span {
        transform: translateY(-100%);
      }
    }
  }

  &:active {
    transform: scale(0.95);
  }

  & div {
    height: 1rem;
    overflow: hidden;

    & span {
      display: block;
      transition: 0.3s;
    }
  }
}
