---
import Layout from '@/layouts/layout.astro';
import { Container } from '@/components/container';
import Websites from '@/components/websites.astro';

import { websites } from '@/data/websites';
import Footer from '@/components/footer.astro';
import { Random } from '@/components/random';
import { padNumber } from '@/helpers/number';
import { ShinyText } from '@/components/shiny-text';
---

<Layout>
  <div class="pattern"></div>
  <Container wide>
    <section class="hero">
      <img alt="Minimum Logo" src="/logo.svg" />
      <h1>Minimum</h1>
      <p class="desc">Minimal websites directory.</p>
      <p class="tagline"><ShinyText text="Because less, is more." /></p>
      <p class="counter">
        <span>{padNumber(websites.length, 5)}</span> websites collected.
      </p>

      <Random client:load />
    </section>

    <Websites websites={websites} />
    <Footer />
  </Container>
</Layout>

<style>
  .pattern {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 400px;
    background-color: var(--color-neutral-50);
    background-image: linear-gradient(
        var(--color-neutral-200) 1px,
        transparent 1px
      ),
      linear-gradient(
        to right,
        var(--color-neutral-200) 1px,
        var(--color-neutral-50) 1px
      );
    background-size: 40px 40px;
    opacity: 0.8;
    mask-image: radial-gradient(circle at top left, #000, transparent 400px);
  }

  .hero {
    padding: 120px 0 60px;

    & img {
      display: block;
      width: 28px;
      height: 28px;
      margin-bottom: 36px;
    }

    & h1 {
      font-weight: 500;
      color: var(--color-foreground);
    }

    & .desc {
      margin-top: 12px;
      color: var(--color-foreground-subtle);
    }

    & .tagline {
      margin-top: 2px;
      color: var(--color-foreground-subtler);
    }

    & .counter {
      margin-top: 24px;
      font-size: var(--font-sm);
      color: var(--color-foreground-subtler);

      & span {
        font-family: var(--font-mono);
        color: var(--color-foreground-subtle);
      }
    }
  }
</style>
