<footer class="footer">
  <p class="curator">
    Curated by <a href="https://x.com/remvze">Maze Heart</a>.
  </p>
</footer>

<style>
  .footer {
    padding: 50px 0;

    & .curator {
      font-size: var(--font-sm);
      color: var(--color-foreground-subtler);

      & a {
        font-weight: 500;
        color: var(--color-foreground-subtle);
        text-decoration: none;
      }
    }
  }
</style>
