---
import { MdArrowOutward } from 'react-icons/md';

import { Container } from './container';

import { padNumber } from '@/helpers/number';

import { websites } from '@/data/websites';

const reversedWebsites = [...websites];

reversedWebsites.reverse();
---

<Container>
  <section class="websites">
    {
      reversedWebsites.map((website, index) => (
        <a class="website" href={website.url}>
          <div class="screenshot">
            <img
              alt={website.address}
              loading="lazy"
              src={website.screenshot}
            />
          </div>

          <div class="details">
            <div class="row one">
              <p class="number">{padNumber(websites.length - index, 3)}</p>
              <p class="name">{website.name}</p>
              <div class="divider" />
              <div class="visit">
                <MdArrowOutward />
              </div>
            </div>
          </div>
        </a>
      ))
    }
  </section>
</Container>

<style>
  .websites {
    & .website {
      display: block;
      color: var(--color-foreground);
      text-decoration: none;

      &:not(:last-of-type) {
        margin-bottom: 24px;
      }

      &:hover .screenshot {
        padding: 10px;
      }

      & .screenshot {
        width: 100%;
        aspect-ratio: 1/1;
        padding: 20px;
        border: 1px solid var(--color-neutral-100);
        transition: 0.4s;

        & img {
          display: block;
          width: 100%;
          aspect-ratio: 1/1;
          border: 1px solid var(--color-neutral-200);
        }
      }

      & .details {
        margin-top: 12px;

        & .row {
          display: flex;
          column-gap: 8px;
          align-items: center;
          font-size: var(--font-sm);

          & .divider {
            flex-grow: 1;
            height: 1px;
            background-color: var(--color-neutral-100);
          }

          &.one {
            & .number {
              font-family: var(--font-mono);
              color: var(--color-foreground-subtler);
            }

            & .name {
              font-weight: 500;
            }

            & .visit {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 28px;
              height: 28px;
              color: var(--color-foreground);
              border: 1px solid var(--color-neutral-200);
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
</style>
