---
import { Container } from './container';

import { websites } from '@/data/websites';

const reversedWebsites = [...websites];

reversedWebsites.reverse();
---

<Container>
  <section class="websites">
    {
      reversedWebsites.map(website => (
        <a class="website" href={website.url}>
          <div class="screenshot">
            <img
              alt={website.address}
              loading="lazy"
              src={website.screenshot}
            />
          </div>

          <div class="name">{website.name}</div>
        </a>
      ))
    }
  </section>
</Container>

<style>
  .websites {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 8px;

    & .website {
      position: relative;
      display: block;
      color: var(--color-foreground);
      text-decoration: none;

      & .name {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: var(--font-sm);
        background-color: rgb(9 9 11 / 80%);
        backdrop-filter: blur(2px);
        border: 1px solid var(--color-neutral-200);
        opacity: 0;
        transition: 0.3s;
      }

      &:hover .name {
        opacity: 1;
      }

      &:hover .screenshot {
        padding: 0;

        & img {
          border-color: transparent;
        }
      }

      & .screenshot {
        width: 100%;
        aspect-ratio: 1/1;
        padding: 8px;
        border: 1px solid var(--color-neutral-200);
        transition: 0.2s;

        & img {
          display: block;
          width: 100%;
          aspect-ratio: 1/1;
          border: 1px solid var(--color-neutral-200);
          transition: 0.2s;
        }
      }
    }
  }
</style>
